/* CSS Header DEBUT*/

*
{
   font-family: 'Raleway', sans-serif;
}

header
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.1em;
   margin-top: 20px;
   margin-left: 30px;
}

.textheader
{
   display: flex;
   justify-content: space-between;
   width: 379px;
   height: 20px;
}

.hebergementactivite
{
   display: flex;
   justify-content: space-between;
   margin-left: 70px;
   margin-right: 50px;
}

.hebergementheader
{
   margin-right: 70px;
   color: #0065FC;
   
}

a:hover
{
   color: #0065FC;
}

.sinscrireheader
{
   color: #0065FC;
   font-weight: bold;
}

.activiteheader
{
   margin-right: 70px;
}


/* CSS HEADER FIN */

/* -------------------------------------------------------------------------- */

/* CSS MAIN DEBUT */

.b1
{
   margin-left: 57px;
   margin-top: 40px;
}

h1
{
   font-style: b;
   font-size: 1.4em;
}

.ping
{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.boxping
{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F2F2F2;
   width: 50px;
   height: 45px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}

.b2
{
   margin-top: 25px;
   display: flex;
   width: 440px;
   height: 60px;
   margin-left: 54px;
}

.marseillefrance
{
   display: flex;
   justify-content: center;
}

.input
{
   border: 1px solid;
   border-color: #F2F2F2;
   outline:  none; 
   width: 245px;
   height: 41px;
   font-weight: bold;
}

.boutton
{
   display: flex;
   align-items: center;
   justify-content: center;
   border-color: #0065FC;
   background-color: #0065FC;
   color: #FFFF;
   font-style: bold;
   height: 45px;
   width: 120px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}

.b3
{
   font-weight: bold;
   display: flex;
   align-items: center;
   margin-left: 62px;
   margin-top: 13px;
   height: 46px;
   width: 1643px;
}

.billet
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin-right: 13px;

}

.b3a
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 184px;
   height: 46px;
   border-left: none;
}

.child
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 22px;

}

.b3b
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 152px;
   height: 46px;
   border-left: none;
}


.coeur
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 19px;

}

.b3c
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 184px;
   height: 46px;
   border-left: none;
}

.dog
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 22px;

}

.b3d
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 241px;
   height: 46px;
   border-left: none;
}

.information
{
   display: flex;
   justify-content: center;
   align-items: center;
   border: #F2F2F2 solid 1px ;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   color: #0065FC;
   margin-right: 15px;
   
}

.logementdisponible
{
   display: flex;
   align-items: center;
   margin-left: 59px;
   margin-top: 40px;
}

.b4
{
   margin-left: 47px;
   margin-top: 50px;
   display: flex ;
}


.b4a
{
   background-color: #F2F2F2;
   border: 2px solid #F2F2F2;
   width: 882px;
   height: 619px;
   border-radius: 20px;

}

.b4b
{
   background-color: #F2F2F2 ;
   border: 2px solid #F2F2F2;
   width: 422px;
   height: 623px;
   
   border-radius: 20px;
   justify-content: space-between;
   
}

/* DEBUT HEBERGEMENT A MARSEILLE */

.boxhebergements
{
   height: 427px;
   width: 650px;
   display: flex;
   
}

.titrehebergements
{
   margin-top: 38px;
   margin-left: 42px;
}

.boxaubergecannebiere
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}

.boxhotelduport
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}


.boxlesmouettes
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}


.boxhoteldelamer
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}


.boxaubergelepanier
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}


.boxhotelamina
{
   border: 2px solid #0065FC;
   width: 245px;
   height: 198px;
}



/* FIN HEBERGEMENT A MARSEILLE */

.boxlogopopulaires
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   width: 420px;
   height: 70px;
}

.populaires
{
   margin-left: 40px;
}

.logochart
{
   display: flex;
   margin-right: 40px;
}

.boxpopulaires
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 40px;
   margin-top: 10px;
   margin-bottom: 32px;
   margin-left: 35px;
   height: 495px;
   width: 342px;
}

/* DEBUT VIGNETTE POPULAIRES */

.vignettepopulaires
{
   display:flex ;
   border: 2px solid #F2F2F2;
   background-color: #FFFF;
   width: 341px;
   height: 144px;
   border-radius: 25px;
}

.photohotel
{
   width: 129px;
   height: 133px ; 
   margin: 5px;
   border-top-left-radius: 21px;
   border-bottom-left-radius: 21px;
}
.hotelprix
{
   margin-left: 15px;
}

.etoilessatisfaction
{
   margin-top: 0px;
   color: #0065FC;
}

.etoilessatisfaction2
{
   margin-top: 0px;
   color: #0065FC;
}

.etoilessatisfactiongrise
{
   color: #F2F2F2;
}

/* FIN VIGNETTE POPULAIRES */

/* CSS MAIN FIN */




