/* CSS Header DEBUT*/

*
{
   font-family: 'Raleway', sans-serif;
}

main
{
   width: 1440px;
}

header
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.1em;
   margin-top: 20px;
   margin-left: 57px;
}

.textheader
{
   display: flex;
   justify-content: space-between;
   width: 600px;
   height: 20px;
}

.listeheader
{
   list-style-type: none;
   display: flex;

}

.hebergementheader
{
   margin-right: 70px;
   color: #0065FC;
   display: inline;
   padding-top: 25px;


}


.sinscrireheader
{
   color: #0065FC;
   font-weight: bold;
}

.activiteheader
{
   margin-right: 70px;
   display:block;
}


.hebergementheader:hover
{
   border-top: solid 2px #0065FC;
   margin-bottom: 25px;
}

.activiteheader:hover 
{
   border-top: solid 2px #0065FC;
   padding-top: 25px;
   margin-bottom: 25px;
}

/* CSS HEADER FIN */

/* -------------------------------------------------------------------------- */

/* CSS MAIN DEBUT */

.lienimages
{
   text-decoration: none;
   color:black ;
}

a:hover
{
   color: #0065FC;
   text-decoration: none;
}

a
{
   text-decoration: none;
}



.b1
{
   margin-left: 57px;
   margin-top: 40px;
}

h1
{
   font-size: 1.4em;
}

.ping
{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.boxping
{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F2F2F2;
   width: 50px;
   height: 45px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}

.b2
{
   margin-top: 25px;
   display: flex;
   width: 440px;
   height: 60px;
   margin-left: 54px;
}

.marseillefrance
{
   display: flex;
   justify-content: center;
}

.input
{
   border: 1px solid;
   border-color: #F2F2F2;
   outline:  none; 
   width: 245px;
   height: 41px;
   font-weight: bold;
}

.boutton
{
   display: flex;
   align-items: center;
   justify-content: center;
   border:none;
   background-color: #0065FC;
   color: #FFFF;
   font-weight: bold;
   height: 45px;
   width: 120px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}

.b3
{
   font-weight: bold;
   display: flex;
   align-items: center;
   margin-left: 62px;
   margin-top: 13px;
   height: 46px;
   width: 1300px;
}

.billet
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin-right: 13px;

}

.b3a
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 184px;
   height: 46px;
   border-left: none;
}

.child
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 22px;

}

.b3b
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 152px;
   height: 46px;
   border-left: none;
}


.coeur
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 19px;

}

.b3c
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 184px;
   height: 46px;
   border-left: none;
}

.dog
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 22px;

}

.b3d
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 24px;
   border: 2px solid #F2F2F2;
   border-radius: 48px;
   width: 241px;
   height: 46px;
   border-left: none;
}

.information
{
   display: flex;
   justify-content: center;
   align-items: center;
   border: #F2F2F2 solid 1px ;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   color: #0065FC;
   margin-right: 15px;
   
}

.logementdisponible
{
   display: flex;
   align-items: center;
   margin-left: 59px;
   margin-top: 40px;
}

.b4
{
   margin-left: 47px;
   margin-top: 50px;
   display: flex ;
   margin-right: 48px;
}


.b4a
{
   background-color: #F2F2F2;
   width: 61%;
   height: 43%;
   border-radius: 20px;

}

.b4b
{
   background-color: #F2F2F2 ;
   width: 422px;
   height: 623px;
   margin-left: 40px;
   border-radius: 20px;
   justify-content: space-between;
   
}

/* DEBUT HEBERGEMENT A MARSEILLE */

.boxhebergementsmarseille
{
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-between;
}

.titrehebergements
{
   margin-top: 38px;
   margin-left: 42px;
}

.boxhebergements
{
   background-color: #FFFF;
   border-radius: 20px;
   width: 245px;
   height: 198px;
   margin: 15px;
   display: flex;
   flex-direction: column;
}

.photohebergements
{
   width: 236px;
   height: 113px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin: 5px;
   object-fit: cover;
}

.hotelprixhebergements
{
   display: flex;
   flex-direction: column;
   align-content: space-between;
   margin-left: 16px;
}

.nomhotelhebergements
{
   margin: 0px;
   margin-top: 3px;
}

.prixdesnuitshebergements
{
   margin: 0px;
   margin-top: 6px;
   margin-bottom: 6px;
}

.afficherplus
{
   margin-left: 44px ;
   font-weight: bold;
}


/* FIN HEBERGEMENT A MARSEILLE */

.boxlogopopulaires
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   width: 420px;
   height: 70px;
}

.populaires
{
   margin-left: 40px;
}

.logochart
{
   display: flex;
   margin-right: 40px;
}

.boxpopulaires
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 40px;
   margin-top: 10px;
   margin-bottom: 32px;
   margin-left: 35px;
   height: 495px;
   width: 342px;
}

/* DEBUT VIGNETTE POPULAIRES */

.vignettepopulaires
{
   display:flex ;
   border: 2px solid #F2F2F2;
   background-color: #FFFF;
   width: 341px;
   height: 144px;
   border-radius: 25px;
}

.photohotel
{
   width: 129px;
   height: 133px ; 
   margin: 5px;
   border-top-left-radius: 21px;
   border-bottom-left-radius: 21px;
}
.hotelprixpopulaires
{
   margin-left: 15px;
}

.etoilessatisfaction
{
   margin-top: 0px;
   color: #0065FC;
}

.etoilessatisfaction2
{
   margin-top: 0px;
   color: #0065FC;
}

.etoilessatisfactiongrise
{
   color: #F2F2F2;
}

/* FIN VIGNETTE POPULAIRES */

/* DEBUT ACTIVITE A MARSEILLE */

.b5
{
   margin-left: 50px;
   margin-top: 65px;
}

.boxactivites
{
   display: flex;
   justify-content: flex-start;
}

.boxvieuxport
{
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 444px;
}

.photoactivitexl
{
   width: 303px ;
   height: 389px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   object-fit: cover;
}

.boxtitre
{
   margin-left: 20px;
   font-weight: bold;
}

.boxpomeguesfrioul
{
   display: flex;
   flex-direction: column;
   margin-left: 43px;
}

.photoactivitepomegues
{
   height: 179px;
   width: 302px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   object-fit: cover;
}



.boxpomegues
{
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 235px;
   margin-bottom: 42px;
}

.photoactivitefrioul
{
   height: 109px;
   width: 302px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   object-fit: cover;
}

.boxfrioul
{
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 165px;
}

.boxcalanques
{
   margin-left: 43px;
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 444px;
}

.gardelongchamp
{
   display: flex;
   flex-direction: column;
}

.photogarde
{
   height: 138px;
   width: 302px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   object-fit: cover;
}

.boxgarde
{
   margin-left: 43px;
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 194px;
   margin-bottom: 38px;
}

.photolongchamp
{
   height: 153px;
   width: 302px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   object-fit: cover;
}

.boxlongchamp
{
   margin-left: 43px;
   box-shadow: 0px 0px 10px 0px #F2F2F2;
   border-top: none;
   border-radius: 20px;
   background-color: #FFFF;
   width: 302px;
   height: 210px;
}
/* FIN ACTIVITE A MARSEILLE */

/* DEBUT FOOTER */

.bandegrise
{
   display: flex;
   margin-top: 60px;
   height: 216px;
   width: 1432px;
   background-color: #F2F2F2
}

.h2footer
{
   margin-bottom: 25px;
}

.apropo
{
   margin-top: 35px;
   margin-left: 50px;
}

.noshebergements
{
   margin-top: 35px;
   margin-left: 227px;
}

.Assistance
{
   margin-top: 35px;
   margin-left: 288px;
}

.listefooter
{
   display: flex;
   flex-direction: column;
   list-style-type: none;
}

/* FIN FOOTER */


/* CSS MAIN FIN */




